.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  position: relative;


}

.item {
  margin-top: 100px;
  /*width: 100%;*/
  height: 300px;
  background-color: white;
  opacity: 0.6;
  overflow-y: scroll;

}

.item p {
  margin: 0;
  padding: 10px;
}